
/* Blog CSS  */
.font-light { font-weight: 200;}
.text-justify p { text-align: justify;}


/*Contact Us Css*/
.who li {
	margin-bottom: 6px;
}
.who li i {
	color: #72c02c;
	font-size: 13px;
	min-width: 15px;
	margin-right: 8px;
	text-align: center;
	position: relative;
}
.who li:hover i,
.who li:hover a {
	color: #777;
}
.who li:hover a:hover {
	text-decoration: none;
}

/*Registration Form Control*/
.form-control {
	box-shadow: none;
	border-radius: 0;
}
.form-control:focus {
	border-color: #bbb;
	box-shadow: 0 0 2px #c9c9c9;
}

/*Login Page*/
.input-group-addon {
	color: #b3b3b3;
	font-size: 14px;
	background: #fff;
	border-radius: 0;
}

